{% extends "pizzas/base.html" %}

<!--tell Django we're about to define what goes in page_haeder-->
{% block page_header %}

<p>
  {% load static %} <img src="{% static "pizzas/media/logo.png" %}" class="img-fluid" alt="Responsive image" />
  </p>

<!--jumbotron applies this group of styling from Bootstrap to this element-->
<div class="jumbotron text-center">
    
  <!--first-level header-->
    <h1 class="display-3">{{ Pizza }}</h1>
    
  <body style="background-color:rgb(43, 42, 42);"></body>
<!--first-level header-->


<!--message-->
    <p<h3 class="lead">World famous Chicago-style deep dish pizza.
      Considered the home of deep dish pizza, Lindsey's Chicago
      Pizza is as rich in history as its pizza is in flavor. Check
      out our pizzas and leave comments on your favorites!
      
      <br></br>233 S Wacker Dr, Chicago, IL 60606</br>
      (312) 875-0066</br>
      </br>
    </h3></p>


    <a class="btn btn-danger btn-lg btn-primary text-center" href="{% url 'pizzas:pizzas_object' %}"
   role="button">View our menu &raquo;</a>
 </div>

<!--close the page_header block-->
{% endblock page_header %}




<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>upload imagae</title>
</head>
<body>
<p><h1>Django Uploading Images</h1></p>
<p><h4>pip install Pillow</h4></p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
</body>
</html>