{% extends 'pizzas/base.html' %}

 {% block page_header %}
 <h3>{{ pizza }}</h3>
{% endblock page_header %}
  
  {% block content %}

{% for t in toppings %}

<!--create a div element with the selector card-->
  <div class="card mb-3">

<!--header-->
<h4 class="card-header">
{{ t }}
 </h4>

<!--places the text of the toppings in a simple box on the card-->
<div class="card-body">
   {{ entry.text|linebreaks }}
 </div>
   </div>
 {% empty %}
   <p>There are no toppings on this pizza.</p>
 {% endfor %}


 {% endblock content %}

