{% extends "pizzas/base.html" %}

<!--Move Topics into header and style it-->
{% block page_header %}
<body style="background-color:rgb(43, 42, 42);"></body>

<p>
    {% load static %} <img src="{% static "pizzas/media/logo.png" %}" class="img-fluid" alt="Responsive image" />
    </p>
    

    <div class="jumbotron">
        <h1>Pizzas</h1>
    {% for p in pizzas_object %}

    <!--style each topic as an <h3> element to make them larger on the page-->
    <li><h3>
        <a href="{% url 'pizzas:pizza' p.id %}">{{ p }}</a>
    </h3></li>
    {% empty %}
    <li><h3>No pizzas have been added yet.</h3></li>
    {% endfor %}
</p></h3></div>

{% endblock page_header %}